<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>TV Series</h1>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   Import TV Series/Rating
  </button>
  <div style="display: flex;float: right;">
    <div class="input-group">

      <%= form_tag search_actor_path, multipart: true, remote: true do %>
        <%= text_field_tag 'actor', '',placeholder: 'Enter Actor here' %>
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
  </div>

  <br >
  <div id="results">
    <%= render partial: 'tv_series/results', locals: { tv_series: @tv_series } %>
  </div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" id="exampleModalLabel">Import TV Series</h5>
        <%= form_tag upload_tv_series_csv_path, multipart: true, remote: true do %>
        <div class="modal-body">

          <div class="form-group row">
            <!-- <label class="col-lg-2 col-form-label font-weight-semibold">File to Upload</label> -->
            <div class="col-lg-12">
              <%= file_field_tag "file", class: 'file-input','data-show-preview'=> "false", 'data-show-upload': "false", 'data-show-caption': "true"%>
              <!-- <input type="file" class="file-input" data-show-preview="false" data-fouc> -->
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
          <%= submit_tag "Upload data", class: 'btn bg-primary'%>
        </div>
      <% end %>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" id="exampleModalLabel">Import Rating</h5>
        <%= form_tag upload_rating_csv_path, multipart: true, remote: true do %>
        <div class="modal-body">

          <div class="form-group row">
            <!-- <label class="col-lg-2 col-form-label font-weight-semibold">File to Upload</label> -->
            <div class="col-lg-12">
              <%= file_field_tag "file", class: 'file-input','data-show-preview'=> "false", 'data-show-upload': "false", 'data-show-caption': "true"%>
              <!-- <input type="file" class="file-input" data-show-preview="false" data-fouc> -->
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
          <%= submit_tag "Upload data", class: 'btn bg-primary'%>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<br>

